/* Home: fix padding of the box container,
fix porcentain of the distribution panel body,
fix div margin text, button and picture in the Travis Johnson's part */

/* Menu: Adjust text font and size 
Blog: Include pictures and / spaces
Add grids and margins that match the displayed page */

.grid .f-right {
    float: right!important;
}
.grid .f-left{
    float: left!important;
}

.grid { 
    width: 1000px; 
    position: relative; 
    margin: 0 auto; 
    padding: 0px;
}

.grid:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}

.grid .row:before,.row:after { 
    content: '\0020'; 
    display: block; 
    width: 0; 
    height: 0; 
    overflow: hidden; 
    visibility: hidden; 
}

.grid .row:after{
    clear: both; 
}
.grid .row{
    zoom: 1;
}
.grid .wrap-col{
    margin:10px;
}

.grid .col-1-2, .grid .col-1-3, .grid .col-2-3, 
.grid .col-1-4, .grid .col-2-4, .grid .col-3-4, 
.grid .col-1-5, .grid .col-2-5, .grid .col-3-5, 
.grid .col-4-5, .grid .col-1-6, .grid .col-2-6, 
.grid .col-3-6, .grid .col-4-6, .grid .col-5-6 {
    float: left; 
    display: inline-block;
}

.grid .col-full{
    width:100%;
}

.grid .col-1-2,.grid .col-1-2-fixed{
    width:50%;
}
.grid .offset-1-2{
    margin-left: 50%;
}

.grid .col-1-3,.grid .col-1-3-fixed{
    width:33.33%;
}
.grid .col-2-3,.grid .col-2-3-fixed{
    width:66.66%;
}
.grid .offset-1-3 {
    margin-left: 33.33%;
}
.grid .offset-2-3{
    margin-left: 66.66%;
}

.grid .col-1-4,.grid .col-1-4-fixed{width:25%;}
.grid .col-2-4,.grid .col-2-4-fixed{width:50%;}
.grid .col-3-4,.grid .col-3-4-fixed{width:75%;}
.grid .offset-1-4{margin-left: 25%;}
.grid .offset-2-4{margin-left: 50%;}
.grid .offset-3-4{margin-left: 75%;}

.grid .col-1-5,.grid .col-1-5-fixed{width:20%;}
.grid .col-2-5,.grid .col-2-5-fixed{width:40%;}
.grid .col-3-5,.grid .col-3-5-fixed{width:60%;}
.grid .col-4-5,.grid .col-4-5-fixed{width:80%;}
.grid .offset-1-5{margin-left: 20%;}
.grid .offset-2-5{margin-left: 40%;}
.grid .offset-3-5{margin-left: 60%;}
.grid .offset-4-5{margin-left: 80%;}

.grid .col-1-6,.grid .col-1-6-fixed{width:16.66%;}
.grid .col-2-6,.grid .col-2-6-fixed{width:33.33%;}
.grid .col-3-6,.grid .col-3-6-fixed{width:50%;}
.grid .col-4-6,.grid .col-4-6-fixed{width:66.66%;}
.grid .col-5-6,.grid .col-5-6-fixed{width:83.33%;}
.grid .offset-1-6{margin-left: 16.66%;}
.grid .offset-2-6{margin-left: 33.33%;}
.grid .offset-3-6{margin-left: 50%;}
.grid .offset-4-6{margin-left: 66.66%;}
.grid .offset-5-6{margin-left: 83.33%;}

@media only screen and 
(min-width: 960px) and 
(max-width: 1199px) {
	.grid{width:960px;}
}

@media only screen and 
(min-width: 768px) and 
(max-width: 959px) {
	.grid{width:768px;}
}

@media only screen and (max-width: 767px) {
	.grid, .grid .col-1-2, .grid .col-1-3, .grid .col-2-3, 
    .grid .col-1-4, .grid .col-2-4, .grid .col-3-4, 
    .grid .col-1-5, .grid .col-2-5, .grid .col-3-5, 
    .grid .col-4-5, .grid .col-1-6, .grid .col-2-6, 
    .grid .col-3-6, .grid .col-4-6, .grid .col-5-6 {
        width:100%;
    }
	
	.grid .offset-1-2, .grid .offset-1-3, .grid .offset-2-3, 
    .grid .offset-1-4, .grid .offset-2-4, .grid .offset-3-4, 
    .grid .offset-1-5, .grid .offset-2-5, .grid .offset-3-5, 
    .grid .offset-4-5, .grid .offset-1-6, .grid .offset-2-6, 
    .grid .offset-3-6, .grid .offset-4-6, .grid .offset-5-6{
        margin-left:0;
    }
}
